<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="form-group col-md-3">
        <label>Search: </label>
        <input type="search" class="form-control" placeholder="Please enter search term" [formControl]="searchField">
      </div>
      <app-messages></app-messages>
      <div class="todoCardsContainer col-md-3" *ngFor="let todo of todos; index as i">
        <div class="todoCards">
          <h5><b>Todo {{i+1}}</b></h5>
          <p><b>Status: </b>{{todo.status}}</p>
          <p><b>Desciption: </b>{{todo.description}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
